* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 10%,
    rgba(9, 51, 121, 1) 100%
  );
}
.App {
  text-align: center;
  padding: 0;
  margin: 0;
}
.App h1 {
  background-color: rgba(9, 51, 121, 1);
  width: 70%;
  margin: auto;
  text-align: center;
  color: #fff;
}

.search {
  background-color: rgba(9, 51, 121, 1);
  width: 70%;
  margin: auto;
  color: #fff;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  padding: 2px;
  margin: 0px 3px;
}
input {
  border-radius: 10px;
  padding: 1px;
  outline: none;
  border: none;
}
button {
  cursor: pointer;
  border-radius: 2px;
  padding: 2px;
  margin: 0 2px;
  border: none;
  outline: none;
  color: white;
  background-color: rgb(113, 186, 202);
}
button:hover {
  background-color: rgb(54, 114, 128);
}
